.NavBar {
    display: flex;
    background-color: antiquewhite;
    height: 3rem;
    width: 98%;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    padding-inline: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    box-shadow: 1px 1px 1px 1px black;
    user-select: none;
}

.NavBar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    margin-inline: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    color: black;
}

.NavBar-item > svg {
    padding-right: 0.2rem;
}

.NavBar-item:hover {
    background-color: rgb(126, 126, 126);
    color: white;
}

.NavBar-item.active {
    color: purple;
    border-bottom: 2px solid black;
}

.NavBar-item.active:hover {
    color: white;
}